* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-image: url("../images/background-two.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 150px;
}

.container .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px; /* Se ajusta la posición vertical */
}

.card i {
    font-size: 40px;
    color: #002F6F;
    margin-bottom: 15px;
}

.card .topic {
    font-size: 25px;
    font-weight: 500;
    color: #002F6F;
    margin-bottom: 8px;
}

.card .text-one {
    font-size: 12px;
    color: black;
}

.card .description {
    font-size: 18px;
    color: #000000; /* Cambié el color a negro */
    margin-top: 10px;
    font-style: italic;
}

/* Estilos para cada card */
.facebook-card {
    background-color: #7c9ffd; /* Fondo de color de Facebook */
}

.phone-card {
    background-color: #b5caf8; /* Fondo de color de WhatsApp */
    color: white;
}

.email-card {
    background-color: #b5caf8;/* Fondo de color de Gmail */
    color: white;
}

@media (max-width: 950px) {
    .container {
        margin-top: 15%;
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 980px) {
    .container .content {
        flex-direction: column;
    }
}
