

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
}

.container-inf {
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.container-inf .content-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container-inf .content-inf .left-side {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    margin-bottom: 3%;
}

.content-inf .left-side::before {
    content: '';
    position: absolute;
    width: 100%; /* Cambiar 'height' por 'width' para hacerlo horizontal */
    height: 2px; /* Cambiar 'width' por 'height' para hacerlo horizontal */
    bottom: -15px; /* Cambiar 'right' por 'bottom' para hacerlo horizontal */
    left: 50%;
    transform: translateX(-50%); /* Cambiar 'translateY' por 'translateX' para hacerlo horizontal */
    background: #afafb6;
    text-align: center;
}  

.content-inf .left-side .details {
    margin: 14px;
    text-align: center;
}

.content-inf .left-side .details i {
    font-size: 30px;
    color: #002F6F;
    margin-bottom: 10px;
}

.content-inf .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content-inf .left-side .details .text-one,
.content-inf .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container-inf .content-inf .right-side {
    width: 80%;
    margin-left: 0;
    text-align: center;
}

.content-inf .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #002F6F;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

@media (max-width: 950px) {
    .container-inf {
        margin-top: 15%;
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container-inf .content-inf .right-side {
        margin-top: 15%;
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 980px) {
    .container-inf {
        margin: 105px 0;
        height: 100%;
    }

    .container-inf .content-inf {
        flex-direction: column-reverse;
    }

    .container-inf .content-inf .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-inf .content-inf .left-side::before {
        display: none;
    }

    .container-inf .content-inf .right-side {
        width: 100%;
        margin-left: 0;
    }
}


@media (max-width: 980px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center; 
        background-size: cover;
    }
}