* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

.section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 {
  width: 100%;
  min-height: 73vh;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 {
  margin-top: 0px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container, .container2, .container3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.content-section, .content2-section2, .content3-section3 {
  padding: 20px;
  flex: 1;
}

.image-section, .image2-section2, .map-section33 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img, .image2-section2 img {
  width: 80%;
  height: auto;
  border-radius: 10px;

}

.map-section33 iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.content-section .title,
.content2-section2 .title2,
.content3-section3 .title3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #2A8BC6;
  margin-bottom: 15px;
}

.content-section .content h3,
.content2-section2 .content2 h3,
.content3-section3 .content3 h3 {
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2A8BC6;
}

.content-section .content p,
.content2-section2 .content2 p,
.content3-section3 .content3 p {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}

@media (max-width: 980px) {
  .card {
    flex-direction: column;
  }

  .image-section, .image2-section2, .map-section33 {
    order: -1;
  }

  .image-section img, .image2-section2 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .content-section, .content2-section2, .content3-section3 {
    padding: 15px;
  }

  .content-section .title,
  .content2-section2 .title2,
  .content3-section3 .title3 {
    text-align: center;
    font-size: 19px;
  }

  .content-section .content h3,
  .content2-section2 .content2 h3,
  .content3-section3 .content3 h3 {
    text-align: center;
  }

  .content-section .content p,
  .content2-section2 .content2 p,
  .content3-section3 .content3 p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container, .container2, .container3 {
    width: 95%;
    padding: 10px;
  }

  .card {
    margin-bottom: 15px;
  }

  .content-section .title,
  .content2-section2 .title2,
  .content3-section3 .title3 {
    font-size: 18px;
  }

  .content-section .content p,
  .content2-section2 .content2 p,
  .content3-section3 .content3 p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .content-section .title,
  .content2-section2 .title2,
  .content3-section3 .title3 {
    font-size: 16px;
  }

  .content-section .content p,
  .content2-section2 .content2 p,
  .content3-section3 .content3 p {
    font-size: 14px;
  }
}