header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #333;
    z-index: 1000;
}

a.logo {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    opacity: 0.8;
    color: #76797C;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #002F6F;
    height: 12vh;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 4vh;
    letter-spacing: 3px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 10px;
    font-weight: 400;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 5px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
    height: auto;
    background-color: #002F6F;
}

/* Estilo para el submenú */
.nav-list .sub-menu {
    display: none;
    position: absolute;
    background-color: #234175;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    top: 80%;
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo para los elementos de la lista del submenú */
.nav-list .sub-menu li {
    margin: 0;
}

/* Estilo para los enlaces del submenú */
.nav-list .sub-menu li a {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #234175;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    text-align: left; 
    width: 100%; 
    display: block; 
    box-sizing: border-box;
}

/* Mostrar el submenú al pasar el ratón sobre el elemento principal */
.nav-list li:hover .sub-menu {
    display: block;
}

/* Cambiar el color de fondo al pasar el ratón sobre los enlaces del submenú */
.nav-list .sub-menu li a:hover {
    background-color: darkblue;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 980px) {
    body {
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .nav-list {
        z-index: 10;
        position: fixed;
        top: 9vh;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        background: #002F6F;
        flex-direction: column;
        align-items: center;
        justify-content: safe;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        margin-bottom: 0;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        font-size: 3vh;
        margin-top: 30%;
        margin-left: 5px;
        font-weight: 400;
    }

    .mobile-menu {
        display: block;
    }
}

.footer-bottom {
    background: #002F6F;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.footer-bottom p {
    float: center;
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    #logoF {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-content {
        margin-bottom: 20px;
    }

    .footer-content h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .footer-content p {
        font-size: 14px;
    }

    .socials {
        margin-bottom: 20px;
    }

    ul.socials {
        margin-left: 60px;
    }

    .socials li {
        margin: 0 5px;
    }

    .socials a i {
        font-size: 25px;
    }

    .footer-bottom p {
        font-size: 14px;
    }
}

/* Estilos para dispositivos de pantalla mediana y grande */
@media only screen and (min-width: 769px) {
    footer {
        padding-left: 100px;
    }
}